@import url('https://fonts.googleapis.com/css?family=VT323');

* {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}

body {
	margin:0; padding: 0; border:0;
	width: 100%;
	height: 100%;
	background-color: #111111;
	font-family: 'Arial';
}

#settings {
	position: absolute;
	padding: 10px;
	width: auto;
	height: auto;
	background-color: darkgrey;
	color: black;
	z-index: 1;
}

.button{
	text-align: center;
	padding: 5px;
	color: aliceblue;
	background-color: #111111;
}

#recalculateBtn{
	width: 60%;
}

td {
	text-align: right;
}

.heading{
	font-size: 120%;
}

#viewport {
	/*position: absolute;*/
	left: 0;
	top: 0;
	overflow: hidden;
	margin: 0 auto;
	z-index: 0;
	display: none;
}

.hidden {
	display: none;
}

#debug {
	z-index: 100;
}
